This is a program that creates yearly histograms of a chosen statistic

Importing packages

In [678]:
import statsapi
import pandas as pd
import numpy as np

All 2024 Players

In [ ]:
names = []

for player in statsapi.lookup_player('2024'):
    names.append(player)

dfNames = pd.DataFrame(names)

#dfNames = dfNames.drop(['primaryNumber', 'currentTeam' , 'useName', 'boxscoreName',
#                       'nickName', 'mlbDebutDate', 'nameSlug', 'firstLastName', 'lastFirstName', 'lastInitName',
#                       'initLastName', 'fullFMLName', 'fullLFMName', 'nameFirstLast'], axis=1)


#index_position = dfNames[dfNames['primaryPosition'] == {'code': '1', 'abbreviation': 'P'}].index
#dfNames.drop(index_position, inplace = True) 


#dfNames = dfNames.rename(columns = {'id':'Player ID', 'fullName':'Full Name', 'firstName':'First Name', 'lastName':'Last Name'}).drop(columns = 'primaryPosition')
#dfNames = dfNames[['Player ID', 'First Name', 'Last Name', 'Full Name']]

All players by Selected Statistic (Batting Average)

In [692]:
dfNames

,id,fullName,firstName,lastName,primaryNumber,currentTeam,primaryPosition,useName,boxscoreName,nickName,mlbDebutDate,nameFirstLast,nameSlug,firstLastName,lastFirstName,lastInitName,initLastName,fullFMLName,fullLFMName
0,682668,Luisangel Acuña,Luisangel,Acuña,2,{'id': 121},"{'code': '6', 'abbreviation': 'SS'}",Luisangel,Acuña,Jose,2024-09-14,Luisangel Acuña,luisangel-acuna-682668,Luisangel Acuña,"Acuña, Luisangel","Acuña, L",L Acuña,Luisangel Jose Acuña,"Acuña, Luisangel Jose"
1,687924,Julian Aguiar,Julian,Aguiar,39,{'id': 113},"{'code': '1', 'abbreviation': 'P'}",Julian,Aguiar,NaN,2024-08-19,Julian Aguiar,julian-aguiar-687924,Julian Aguiar,"Aguiar, Julian","Aguiar, J",J Aguiar,Julian Aguiar,"Aguiar, Julian"
2,682634,Kevin Alcántara,Kevin,Alcantara,13,{'id': 112},"{'code': '9', 'abbreviation': 'RF'}",Kevin,Alcántara,NaN,2024-09-25,Kevin Alcántara,kevin-alcantara-682634,Kevin Alcántara,"Alcántara, Kevin","Alcántara, K",K Alcántara,Kevin Alcántara,"Alcántara, Kevin"
3,691951,Sam Aldegheri,Samuel,Aldegheri,66,{'id': 108},"{'code': '1', 'abbreviation': 'P'}",Sam,Aldegheri,NaN,2024-08-30,Sam Aldegheri,sam-aldegheri-691951,Sam Aldegheri,"Aldegheri, Sam","Aldegheri, S",S Aldegheri,Samuel Aldegheri,"Aldegheri, Samuel"
4,677942,Blaze Alexander,Blaze,Alexander,9,{'id': 109},"{'code': '6', 'abbreviation': 'SS'}",Blaze,Alexander,NaN,2024-03-28,Blaze Alexander,blaze-alexander-677942,Blaze Alexander,"Alexander, Blaze","Alexander, B",B Alexander,Blaze Chanee Alexander,"Alexander, Blaze Chanee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,680736,Justin Wrobleski,Justin,Wrobleski,70,{'id': 119},"{'code': '1', 'abbreviation': 'P'}",Justin,Wrobleski,NaN,2024-07-07,Justin Wrobleski,justin-wrobleski-680736,Justin Wrobleski,"Wrobleski, Justin","Wrobleski, J",J Wrobleski,Justin Michael Wrobleski,"Wrobleski, Justin Michael"
218,808967,Yoshinobu Yamamoto,Yoshinobu,Yamamoto,18,{'id': 119},"{'code': '1', 'abbreviation': 'P'}",Yoshinobu,Yamamoto,NaN,2024-03-21,Yoshinobu Yamamoto,yoshinobu-yamamoto-808967,Yoshinobu Yamamoto,"Yamamoto, Yoshinobu","Yamamoto, Y",Y Yamamoto,Yoshinobu Yamamoto,"Yamamoto, Yoshinobu"
219,694377,Nick Yorke,Nicholas,Yorke,38,{'id': 134},"{'code': '4', 'abbreviation': '2B'}",Nick,Yorke,NaN,2024-09-16,Nick Yorke,nick-yorke-694377,Nick Yorke,"Yorke, Nick","Yorke, N",N Yorke,Nicholas Anthony Yorke,"Yorke, Nicholas Anthony"
220,666171,Ryan Zeferjahn,Ryan,Zeferjahn,56,{'id': 108},"{'code': '1', 'abbreviation': 'P'}",Ryan,Zeferjahn,NaN,2024-08-25,Ryan Zeferjahn,ryan-zeferjahn-666171,Ryan Zeferjahn,"Zeferjahn, Ryan","Zeferjahn, R",R Zeferjahn,Ryan JOseph Zeferjahn,"Zeferjahn, Ryan JOseph"
221,691172,Yosver Zulueta,Yosver,Zulueta,67,{'id': 113},"{'code': '1', 'abbreviation': 'P'}",Yosver,Zulueta,NaN,2024-06-25,Yosver Zulueta,yosver-zulueta-691172,Yosver Zulueta,"Zulueta, Yosver","Zulueta, Y",Y Zulueta,Yosver Jose Zulueta,"Zulueta, Yosver Jose"

In [676]:
year = '2024'

stats = []
for row in dfNames['Player ID']:
    response = statsapi.player_stat_data(row, group = 'hitting', type = 'yearByYear', sportId = 1)
    stats.append(response)

dfStats = pd.DataFrame(stats)
dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

dfStats.rename({0:'stats'},axis='columns',inplace=True)
dfStats = dfStats.join(pd.json_normalize(dfStats['stats']))

dfStats = dfStats.drop(['active', 'last_played', 'season', 'mlb_debut', 'nickname', 'pitch_hand', 'stats', 'type', 'group'
                        , 'stats.gamesPlayed', 'stats.groundOuts', 'stats.airOuts', 'stats.runs', 'stats.doubles' 
                        , 'stats.triples',	'stats.homeRuns', 'stats.strikeOuts', 'stats.baseOnBalls', 'stats.intentionalWalks'
                        , 'stats.hits', 'stats.hitByPitch', 'stats.atBats', 'stats.obp', 'stats.slg', 'stats.ops', 'stats.caughtStealing'
                        , 'stats.totalBases', 'stats.rbi', 'stats.leftOnBase', 'stats.sacBunts', 'stats.sacFlies', 'stats.babip'
                        , 'stats.groundOutsToAirouts', 'stats.catchersInterference', 'stats.atBatsPerHomeRun', 'stats.stolenBases'
                        , 'stats.stolenBasePercentage', 'stats.groundIntoDoublePlay', 'stats.numberOfPitches'], axis=1)

dfStats = dfStats.rename(columns = {'id':'Player ID','first_name':'First Name', 'last_name':'Last Name'
                                    , 'current_team':'Team', 'position':'Position', 'bat_side':'Batting Side'
                                    , 'stats.avg':'Batting Average', 'stats.plateAppearances':'Plate Appearances'})

dfStats = dfStats.rename(columns = {1:'1',2:'2'}).drop(columns = '1')
dfStats = dfStats.drop(columns = '2')

In [677]:
dfStats

,Player ID,First Name,Last Name,Team,Position,Batting Side,Batting Average,Plate Appearances
0,682668,Luisangel,Acuña,Cardenales de Lara,SS,Right,.308,40
1,682634,Kevin,Alcantara,Chicago Cubs,RF,Right,.100,10
2,677942,Blaze,Alexander,Arizona Diamondbacks,SS,Right,.247,185
3,680769,CJ,Alexander,Athletics,3B,Left,.125,8
4,805373,Nacho,Alvarez,Atlanta Braves,SS,Right,.100,32
...,...,...,...,...,...,...,...,...
91,695238,Will,Wagner,Toronto Blue Jays,2B,Left,.305,86
92,694376,Shay,Whitcomb,Houston Astros,SS,Right,.220,46
93,805779,Jacob,Wilson,Athletics,SS,Right,.250,103
94,695578,James,Wood,Washington Nationals,LF,Left,.264,336
95,694377,Nick,Yorke,Pittsburgh Pirates,2B,Right,.216,42

Analysis - Isolating for chosen Statistic (batting average)

In [672]:
dfAvg = pd.DataFrame(dfStats)
dfAvg = dfAvg.drop(['Team', 'Position', 'Batting Side'], axis = 1)

index_names = dfAvg[ dfAvg['Plate Appearances'] < 100].index 
  
# drop these row indexes 
# from dataFrame 
dfAvg.drop(index_names, inplace = True) 
  
dfAvg 

#qualAvg = pd.DataFrame(dfAvg)
#qual = dfAvg[dfAvg['Plate Appearances'] < 100].index

#qualAvg = dfAvg.drop(qual, inplace = True)

    Player ID    First Name   Last Name Batting Average  Plate Appearances
2      677942         Blaze   Alexander            .247                185
7      681460        Brooks     Baldwin            .211                121
8      680718       Addison      Barger            .197                225
10     687597        Jordan        Beck            .188                184
16     665953        Andrés    Chaparro            .215                132
17     694192       Jackson     Chourio            .275                573
22     686611         Dylan       Crews            .218                132
30     686554        Oliver        Dunn            .221                104
35     695391         Brett      Harris            .146                123
38     687231        Darell     Hernaiz            .192                135
40     702616       Jackson    Holliday            .189                208
42     677870           Leo     Jimenez            .229                210
45     694359          Niko     Kavadas            .183                106
47     690993          Colt       Keith            .260                556
48     694671         Wyatt    Langford            .253                557
49     686797        Brooks         Lee            .221                185
50     808982      Jung Hoo         Lee            .262                158
52     702358          Trey    Lipscomb            .200                211
55     694388          Joey   Loperfido            .236                118
56     669234  Justyn-Henry      Malloy            .203                230
57     700932          Kyle    Manzardo            .234                156
58     668885        Austin      Martin            .253                257
60     682657         Angel    Martínez            .232                169
62     668832          Kyle      McCann            .236                157
63     687529         Grant      McCray            .202                130
64     701538       Jackson     Merrill            .292                593
67     678877     Jhonkensy        Noel            .218                198
70     681624          Andy       Pages            .248                443
71     686780         Pedro       Pagés            .238                218
74     672761       Wenceel       Pérez            .242                425
75     682868         Bryan       Ramos            .202                108
76     700250           Ben        Rice            .171                178
82     682177        Daniel  Schneemann            .218                221
83     680474           Max   Schuemann            .220                459
85     687363        Victor       Scott            .179                155
88     700242          Trey     Sweeney            .218                119
92     805779         Jacob      Wilson            .250                103
93     695578         James        Wood            .264                336

In [671]:
qual

Index([ 0,  1,  3,  4,  5,  6,  9, 11, 12, 13, 14, 15, 18, 19, 20, 21, 23, 24,
       25, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 39, 41, 43, 44, 46, 51, 53,
       54, 59, 61, 65, 66, 68, 69, 72, 73, 77, 78, 79, 80, 81, 84, 86, 87, 89,
       90, 91, 94],
      dtype='int64')