This is a program that creates yearly histograms of a chosen statistic

Importing packages

In [1]:
import statsapi
import pandas as pd
import numpy as np

Getting Team ID List

In [171]:
teams = statsapi.get('teams', {'sportId':1})

dfTeams = pd.DataFrame(teams)
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)
dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode' , 'abbreviation', 'teamName', 'fileCode'], axis = 1)

dfTeams = dfTeams.rename(columns={'id': 'Team ID', 'name': 'Team Name', 'season':'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]

dfTeamIDS = dfTeams['Team ID']
teams = dfTeamIDS.to_list()

In [172]:
dfTeams

    Season              Team Name  Team ID
0     2025              Athletics      133
1     2025     Pittsburgh Pirates      134
2     2025       San Diego Padres      135
3     2025       Seattle Mariners      136
4     2025   San Francisco Giants      137
5     2025    St. Louis Cardinals      138
6     2025         Tampa Bay Rays      139
7     2025          Texas Rangers      140
8     2025      Toronto Blue Jays      141
9     2025        Minnesota Twins      142
10    2025  Philadelphia Phillies      143
11    2025         Atlanta Braves      144
12    2025      Chicago White Sox      145
13    2025          Miami Marlins      146
14    2025       New York Yankees      147
15    2025      Milwaukee Brewers      158
16    2025     Los Angeles Angels      108
17    2025   Arizona Diamondbacks      109
18    2025      Baltimore Orioles      110
19    2025         Boston Red Sox      111
20    2025           Chicago Cubs      112
21    2025        Cincinnati Reds      113
22    2025    Cleveland Guardians      114
23    2025       Colorado Rockies      115
24    2025         Detroit Tigers      116
25    2025         Houston Astros      117
26    2025     Kansas City Royals      118
27    2025    Los Angeles Dodgers      119
28    2025   Washington Nationals      120
29    2025          New York Mets      121

Combining kernels into one

In [ ]:
teamRoster = []

for x in teams:
    teamId = x
    df = statsapi.get('team_roster', {'teamId' : teamId, 'rosterType' : 'fullRoster', 'hydrate' : 'person'})

    teamRoster.append(df)

dfTeamRoster = pd.DataFrame(teamRoster)
dfTeamRoster = dfTeamRoster.drop(['copyright', 'link', 'rosterType'], axis = 1)

#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
# dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
# dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
# dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'status', 'parentTeamId','fullName', 'link', 'birthDate'
#        ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
#        ,'active', 'useName', 'useLastName', 'middleName'
#        ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
#        ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
#        ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
#        ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
#        ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
#        ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
#        ,'nameTitle', 'nameSuffix'], axis = 1)

#dfTeamRoster

# df = pd.merge(df, df['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
# df = pd.merge(df, df['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
# df = pd.merge(df, df['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
# df = pd.merge(df, df['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
# df = pd.merge(df, df['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
# df = df.drop(['jerseyNumber', 'status', 'parentTeamId','fullName', 'link', 'birthDate'
#        ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
#        ,'active', 'useName', 'useLastName', 'middleName'
#        ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
#        ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
#        ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
#        ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
#        ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
#        ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
#        ,'nameTitle', 'nameSuffix'], axis = 1)


#df = df.drop(['copyright', 'link' , 'rosterType'], axis=1)
####################################################################

# teamRoster = []

# for x in teams:
#     teamId = x 
#     #print(teamId)
#     df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
#     #break

#     teamRoster.append(df)





# teamRoster = []

# for x in teams:
#     teamId = x 
#     df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
    
#     teamRoster.append(df)

#     df = pd.DataFrame(df)
#     #teamRoster.append(df)
#     #df = df.drop(['copyright', 'link' , 'rosterType'], axis=1)
#     #teamRoster.append(df)
#     #break

TypeError: unhashable type: 'dict'

end

In [253]:
#print(dfTeamRo
#dfTeamRoster = pd.DataFrame(dfTeamRoster) 

#colnames = list(dfTeamRoster.columns)
#print(colnames)
#dfTeamRoster
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')

In [103]:
teams = statsapi.get('teams', {'sportId':1})

dfTeams = pd.DataFrame(teams)
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)
dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode' , 'abbreviation', 'teamName', 'fileCode'], axis = 1)

dfTeams = dfTeams.rename(columns={'id': 'Team ID', 'name': 'Team Name', 'season':'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]

dfTeamIDS = dfTeams['Team ID']
teams = dfTeamIDS.to_list()

# below here works

making a list of the teamIDs

In [265]:
dfTeams

    Season              Team Name  Team ID
0     2025              Athletics      133
1     2025     Pittsburgh Pirates      134
2     2025       San Diego Padres      135
3     2025       Seattle Mariners      136
4     2025   San Francisco Giants      137
5     2025    St. Louis Cardinals      138
6     2025         Tampa Bay Rays      139
7     2025          Texas Rangers      140
8     2025      Toronto Blue Jays      141
9     2025        Minnesota Twins      142
10    2025  Philadelphia Phillies      143
11    2025         Atlanta Braves      144
12    2025      Chicago White Sox      145
13    2025          Miami Marlins      146
14    2025       New York Yankees      147
15    2025      Milwaukee Brewers      158
16    2025     Los Angeles Angels      108
17    2025   Arizona Diamondbacks      109
18    2025      Baltimore Orioles      110
19    2025         Boston Red Sox      111
20    2025           Chicago Cubs      112
21    2025        Cincinnati Reds      113
22    2025    Cleveland Guardians      114
23    2025       Colorado Rockies      115
24    2025         Detroit Tigers      116
25    2025         Houston Astros      117
26    2025     Kansas City Royals      118
27    2025    Los Angeles Dodgers      119
28    2025   Washington Nationals      120
29    2025          New York Mets      121

In [452]:
teams = statsapi.get('teams', {'sportId':1})

dfTeams = pd.DataFrame(teams)
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)
dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode' , 'abbreviation', 'teamName', 'fileCode'], axis = 1)

dfTeams = dfTeams.rename(columns={'id': 'Team ID', 'name': 'Team Name', 'season':'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]

dfTeamIDS = dfTeams['Team ID']
teams = dfTeamIDS.to_list()

Using the teamIDs to loop through all the teams and pull the teamRoster, then append to dataframe df

In [453]:
# teamRoster = []

# for x in teams:
#     teamId = x 
#     #print(teamId)
#     df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
#     #break

#     teamRoster.append(df)

############################################

x = 121

teamId = x
df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
teamRoster.append(df)

changing teamRoster to a dfTeamRoster

In [454]:
#dfTeamRoster = pd.DataFrame(teamRoster)

#####

# below here the df is just one team. this works to get the roster for one team and cleaning the data
    
#####    

df = pd.DataFrame(df)

In [455]:
#dfTeamRoster = dfTeamRoster.drop(['copyright', 'link' , 'rosterType'], axis=1)

#####

df = df.drop(['copyright', 'link' , 'rosterType'], axis=1)

In [456]:
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True)#.drop(columns = 'roster')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
#dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'status', 'parentTeamId','fullName', 'link', 'birthDate'
       # ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
       # ,'active', 'useName', 'useLastName', 'middleName'
       # ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
       # ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
       # ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
       # ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
       # ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
       # ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
       # ,'nameTitle', 'nameSuffix'], axis = 1)

###########

df = pd.merge(df, df['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
df = pd.merge(df, df['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
df = pd.merge(df, df['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
df = pd.merge(df, df['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
df = pd.merge(df, df['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
df = df.drop(['jerseyNumber', 'parentTeamId', 'status', 'fullName', 'link', 'birthDate'
        ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
        ,'active', 'useName', 'useLastName', 'middleName'
        ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
        ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
        ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
        ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
        ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
        ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
        ,'nameTitle', 'nameSuffix'], axis = 1)

dfMets = df

everything above here works

In [ ]:
#dfAthletics
#dfPirates
#dfPadres
#dfMariners
#dfGiants
#dfCardinals
#dfRays
#dfRangers
#dfBlueJays
#dfTwins
#dfPhillies
#dfBraves
#dfWhiteSox
#dfMarlins
#dfYankees
#dfBrewers
#dfAngels
#dfDiamondbacks
#dfOrioles
#dfRedSox
#dfCubs
#dfReds
#dfGuardians
#dfRockies 
#dfTigers
#dfAstros
#dfRoyals
#dfDodgers
#dfNationals
#dfMets

     teamId      id firstName    lastName  currentAge
0       121  621345      Alex      Minter          31
1       121  830464     Abner        Meza          17
2       121  827441    Adolfo     Miranda          18
3       121  829792    Adrian       Silva          17
4       121  829845  Aiberson      Blanco          17
..      ...     ...       ...         ...         ...
211     121  815898   Yovanny   Rodriguez          18
212     121  807848      Yuhi        Sako          25
213     121  825159    Yunior      Amparo          18
214     121  804267   Zachary    Thornton          23
215     121  676199   Zebulon  Vermillion          26

[216 rows x 5 columns]

In [ ]:
#dfAthletics = dfAthletics.drop(['note'], axis = 1)
#dfPirates = dfPirates.drop(['note'], axis = 1)
#dfMariners = dfMariners.drop(['note'], axis = 1)
#dfRangers = dfRangers.drop(['note'], axis = 1)
#dfWhiteSox = dfWhiteSox.drop(['note'], axis = 1)
#dfMarlins = dfMarlins.drop(['note'], axis = 1)
#dfBrewers = dfBrewers.drop(['note'], axis = 1)
#dfAngels = dfAngels.drop(['note'], axis = 1)
#dfReds = dfReds.drop(['note'], axis = 1)
#dfDodgers = dfDodgers.drop(['lastPlayedDate'], axis = 1)
#dfMets = dfMets.drop(['note'], axis = 1)

In [511]:
frames = [dfAthletics, dfPirates, dfPadres, dfMariners, dfGiants, dfCardinals
          , dfRays, dfRangers, dfBlueJays, dfTwins, dfPhillies, dfBraves, dfWhiteSox
          , dfMarlins, dfYankees, dfBrewers, dfAngels, dfDiamondbacks, dfOrioles
          , dfRedSox, dfCubs, dfReds, dfGuardians, dfRockies, dfTigers, dfAstros
          , dfRoyals, dfDodgers, dfNationals, dfMets]

dfAllTeamRosters = pd.concat(frames)

In [ ]:
dfAllTeamRosters

     teamId      id  firstName    lastName  currentAge
0       133  683548     Adriel    Gonzalez          22
1       133  703835  Alejandro     Manzano          23
2       133  821163  Alejandro     Pereira          17
3       133  812460      Alvin        Nova          19
4       133  807998      Alvin       Veras          19
..      ...     ...        ...         ...         ...
211     121  815898    Yovanny   Rodriguez          18
212     121  807848       Yuhi        Sako          25
213     121  825159     Yunior      Amparo          18
214     121  804267    Zachary    Thornton          23
215     121  676199    Zebulon  Vermillion          26

[5876 rows x 5 columns]

All 2024 Players

In [134]:
names = []

for player in statsapi.lookup_player('2024'):
    names.append(player)
    #print(names)
dfNames = pd.DataFrame(names)

dfNames = dfNames.drop(['primaryNumber', 'currentTeam' , 'useName', 'boxscoreName',
                       'nickName', 'mlbDebutDate', 'nameSlug', 'firstLastName', 'lastFirstName', 'lastInitName',
                       'initLastName', 'fullFMLName', 'fullLFMName', 'nameFirstLast'], axis=1)


index_position = dfNames[dfNames['primaryPosition'] == {'code': '1', 'abbreviation': 'P'}].index
dfNames.drop(index_position, inplace = True) 

dfNames = dfNames.rename(columns = {'id':'Player ID', 'fullName':'Full Name', 'firstName':'First Name', 'lastName':'Last Name'}).drop(columns = 'primaryPosition')
dfNames = dfNames[['Player ID', 'First Name', 'Last Name', 'Full Name']]

All players by Selected Statistic (Batting Average)

In [127]:
dfNames
#index_position

     Player ID First Name  Last Name          Full Name
0       682668  Luisangel      Acuña    Luisangel Acuña
1       682634      Kevin  Alcantara    Kevin Alcántara
3       677942      Blaze  Alexander    Blaze Alexander
4       680769    Charles  Alexander       CJ Alexander
5       805373    Ignacio    Alvarez  Nacho Alvarez Jr.
..         ...        ...        ...                ...
191     695238    William     Wagner        Will Wagner
195     694376       Shay   Whitcomb      Shay Whitcomb
197     805779      Jacob     Wilson       Jacob Wilson
199     695578      James       Wood         James Wood
202     694377   Nicholas      Yorke         Nick Yorke

[90 rows x 4 columns]

In [141]:
year = '2024'

stats = []
for row in dfNames['Player ID']:
      response = statsapi.player_stat_data(row, group = 'hitting', type = 'yearByYear', sportId = 1)
      stats.append(response)

dfStats = pd.DataFrame(stats)
dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

dfStats.rename({0:'stats'},axis='columns',inplace=True)
dfStats = dfStats.join(pd.json_normalize(dfStats['stats']))

# dfStats = dfStats.drop(['active', 'last_played', 'season', 'mlb_debut', 'nickname', 'pitch_hand', 'stats', 'type', 'group'
#                         , 'stats.gamesPlayed', 'stats.groundOuts', 'stats.airOuts', 'stats.runs', 'stats.doubles' 
#                         , 'stats.triples',	'stats.homeRuns', 'stats.strikeOuts', 'stats.baseOnBalls', 'stats.intentionalWalks'
#                         , 'stats.hits', 'stats.hitByPitch', 'stats.atBats', 'stats.obp', 'stats.slg', 'stats.ops', 'stats.caughtStealing'
#                         , 'stats.totalBases', 'stats.rbi', 'stats.leftOnBase', 'stats.sacBunts', 'stats.sacFlies', 'stats.babip'
#                         , 'stats.groundOutsToAirouts', 'stats.catchersInterference', 'stats.atBatsPerHomeRun', 'stats.stolenBases'
#                         , 'stats.stolenBasePercentage', 'stats.groundIntoDoublePlay', 'stats.numberOfPitches'], axis=1)

# dfStats = dfStats.rename(columns = {'id':'Player ID','first_name':'First Name', 'last_name':'Last Name'
#                                     , 'current_team':'Team', 'position':'Position', 'bat_side':'Batting Side'
#                                     , 'stats.avg':'Batting Average', 'stats.plateAppearances':'Plate Appearances'})

# dfStats = dfStats.rename(columns = {1:'1',2:'2'}).drop(columns = '1')
# dfStats = dfStats.drop(columns = '2')

In [142]:
dfStats

,id,first_name,last_name,active,current_team,position,nickname,last_played,mlb_debut,bat_side,...,stats.plateAppearances,stats.totalBases,stats.rbi,stats.leftOnBase,stats.sacBunts,stats.sacFlies,stats.babip,stats.groundOutsToAirouts,stats.catchersInterference,stats.atBatsPerHomeRun
0,682668,Luisangel,Acuña,True,New York Mets,SS,Jose,None,2024-09-14,Right,...,40,25,6,10,0,0,.300,0.91,0,13.00
1,682634,Kevin,Alcantara,True,Chicago Cubs,RF,None,None,2024-09-25,Right,...,10,1,0,3,0,0,.111,7.00,0,-.--
2,677942,Blaze,Alexander,True,Arizona Diamondbacks,SS,None,None,2024-03-28,Right,...,185,57,21,80,1,0,.333,1.20,0,55.33
3,680769,CJ,Alexander,True,Athletics,3B,None,None,2024-06-24,Left,...,8,1,0,6,0,0,.200,0.33,0,-.--
4,805373,Nacho,Alvarez,True,Atlanta Braves,SS,None,None,2024-07-22,Right,...,32,3,0,13,0,0,.150,0.89,0,-.--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,695238,Will,Wagner,True,Toronto Blue Jays,2B,None,None,2024-06-26,Left,...,86,37,11,34,0,0,.359,1.73,0,41.00
86,694376,Shay,Whitcomb,True,Houston Astros,SS,None,None,2024-08-17,Right,...,46,12,5,13,0,0,.273,0.60,0,-.--
87,805779,Jacob,Wilson,True,Athletics,SS,None,None,2024-07-19,Right,...,103,29,3,33,1,1,.277,1.54,0,-.--
88,695578,James,Wood,True,Washington Nationals,LF,None,None,2024-07-01,Left,...,336,126,41,122,0,0,.365,1.79,0,32.78
89,694377,Nick,Yorke,True,Pittsburgh Pirates,2B,None,None,2024-09-16,Right,...,42,14,5,16,0,1,.250,1.57,0,18.50

Analysis - Isolating for chosen Statistic (batting average)

In [ ]:
dfAvg = pd.DataFrame(dfStats)
dfAvg = dfAvg.drop(['Team', 'Position', 'Batting Side'], axis = 1)

index_names = dfAvg[ dfAvg['Plate Appearances'] < 100].index 
  
# drop these row indexes 
# from dataFrame 
dfAvg.drop(index_names, inplace = True) 
  
dfAvg 

#qualAvg = pd.DataFrame(dfAvg)
#qual = dfAvg[dfAvg['Plate Appearances'] < 100].index

#qualAvg = dfAvg.drop(qual, inplace = True)

In [ ]:
qual