This is a program that creates yearly histograms of a chosen statistic

Importing packages

In [93]:
import statsapi
import pandas as pd
import numpy as np

Getting Team ID List

In [94]:
teams = statsapi.get('teams', {'sportId':1}) # gets a dict of teams from the api

dfTeams = pd. DataFrame(teams) # makes a dataframe and stores the dict, 'teams,' as a dataframe
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)




### drops the unnecessary columns ###

dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode', 'abbreviation', 'teamName', 'fileCode'], axis = 1)




### renames and reorders columns ###

dfTeams = dfTeams.rename(columns = {'id' : 'Team ID', 'name' : 'Team Name', 'season' : 'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]



### taking team ID columns and turning into a list ###
 
dfTeamIDs = dfTeams['Team ID']
teamIDs = dfTeamIDs.to_list()

Using the teamIDs to loop through all the teams and pull the teamRoster, then append to dataframe df

In [329]:
teamRoster = []

##############################
##############################
####                      ####
x = 121 # team ID number  ####
####                      ####
##############################
##############################

teamId = x 
df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"}) # getting a dataframe of the team roster of the corresponding team ID number
teamRoster.append(df) # appends the the line of the df onto 'list,' teamRoster

dfTeamRoster = pd.DataFrame(df) # list, 'teamRoster' coverted to dfTeamRoster

dfTeamRoster = dfTeamRoster.drop(['copyright', 'link' , 'rosterType'], axis=1) # drops unnecessary columns



### This section pops out each column of data and then drops the unnecessary columns ###

dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'parentTeamId', 'status', 'fullName', 'link', 'birthDate'
         ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
         ,'active', 'useName', 'useLastName', 'middleName'
         ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
         ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
         ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
         ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
         ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
         ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
         ,'nameTitle', 'nameSuffix', 'note'], axis = 1)




### Couldn't get the for loop to work.  Have to manually loop the teams. ###

#dfAthletics = dfTeamRoster #133
#dfPirates = dfTeamRoster #134
#dfPadres = dfTeamRoster #135
#dfMariners = dfTeamRoster #136
#dfGiants = dfTeamRoster #137
#dfCardinals = dfTeamRoster #138
#dfRays = dfTeamRoster #139
#dfRangers = dfTeamRoster #140
#dfBlueJays = dfTeamRoster #141
#dfTwins = dfTeamRoster #142

#dfPhillies = dfTeamRoster #143
#dfBraves = dfTeamRoster #144
#dfWhiteSox = dfTeamRoster #145
#dfMarlins = dfTeamRoster #146
#dfYankees = dfTeamRoster #147
#dfBrewers = dfTeamRoster #158
#dfAngels = dfTeamRoster #108
#dfDiamondbacks = dfTeamRoster #109
#dfOrioles = dfTeamRoster #110
#dfRedSox = dfTeamRoster #111

#dfCubs = dfTeamRoster #112
#dfReds = dfTeamRoster #113
#dfGuardians = dfTeamRoster #114
#dfRockies = dfTeamRoster #115
#dfTigers = dfTeamRoster #116
#dfAstros = dfTeamRoster #117
#dfRoyals = dfTeamRoster #118
#dfDodgers = dfTeamRoster #119
#dfNationals = dfTeamRoster #120
dfMets = dfTeamRoster #121

##### Checking the Validity of the team DataFrames

In [330]:
#dfAthletics
#dfPirates
#dfPadres
#dfMariners
#dfGiants
#dfCardinals
#dfRays
#dfRangers
#dfBlueJays
#dfTwins

#dfPhillies
#dfBraves
#dfWhiteSox
#dfMarlins
#dfYankees
#dfBrewers
#dfAngels
#dfDiamondbacks
#dfOrioles
#dfRedSox

#dfCubs
#dfReds
#dfGuardians
#dfRockies 
#dfTigers
#dfAstros
#dfRoyals
#dfDodgers
#dfNationals
dfMets

     teamId      id firstName    lastName  currentAge
0       121  805999    Andrew       Ewing          20
1       121  621345      Alex      Minter          31
2       121  830464     Abner        Meza          17
3       121  640470    Adbert     Alzolay          30
4       121  827441    Adolfo     Miranda          18
..      ...     ...       ...         ...         ...
263     121  815898   Yovanny   Rodriguez          18
264     121  807848      Yuhi        Sako          25
265     121  825159    Yunior      Amparo          18
266     121  804267   Zachary    Thornton          23
267     121  676199   Zebulon  Vermillion          26

[268 rows x 5 columns]

#### Dropping leftover columns

In [331]:
dfMariners = dfMariners.drop(['lastPlayedDate'], axis = 1)
dfGiants = dfGiants.drop(['lastPlayedDate'], axis = 1)
dfDodgers = dfDodgers.drop(['lastPlayedDate'], axis = 1)

### Joining all the teamRoster dataframes

In [336]:
frames = [dfAthletics, dfPirates, dfPadres, dfMariners, dfGiants, dfCardinals
          , dfRays, dfRangers, dfBlueJays, dfTwins, dfPhillies, dfBraves, dfWhiteSox
          , dfMarlins, dfYankees, dfBrewers, dfAngels, dfDiamondbacks, dfOrioles
          , dfRedSox, dfCubs, dfReds, dfGuardians, dfRockies, dfTigers, dfAstros
          , dfRoyals, dfDodgers, dfNationals, dfMets]

dfAllTeamRosters = pd.concat(frames)

### Renaming and Reordering the Columns ###


dfAllTeamRosters.rename(columns={'teamId': 'Team ID', 'id' : 'Player ID', 'firstName': 'First Name', 'lastName': 'Last Name', 'currentAge' : 'Age'}, inplace=True)
allPlayers = dfAllTeamRosters[['Player ID', 'Team ID', 'First Name', 'Last Name', 'Age']]

## Save as CSV

In [ ]:
import os  

# Check the current working directory  
print(os.getcwd())  

# Change the current working directory  
os.chdir("C:\\Users\\jvgas\\OneDrive\\Desktop\\learning\\github\\baseballstatistics\\py4da\\baseball statistics\\datasets")  

# Verify the directory change  
print(os.getcwd())

C:\Users\jvgas\OneDrive\Desktop\learning\github\baseball statistics\py4da\baseball statistics\datasets

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\jvgas\\OneDrive\\Desktop\\learning\\github\\baseball_statistics\\py4da\\baseball statistics\\datasets'

<class 'pandas.core.frame.DataFrame'>

In [ ]:
teamRoster = []

for x in teamIDs:
    teamId = x
    df = statsapi.get('team_roster', {'teamId' : teamId, 'rosterType' : 'fullRoster', 'hydrate' : 'person'})

    teamRoster.append(df)

######################################

dfTeamRoster = pd.DataFrame(teamRoster)
dfTeamRoster = dfTeamRoster.drop(['copyright', 'link', 'rosterType'], axis = 1)

#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
# dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
# dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
# dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'status', 'parentTeamId','fullName', 'link', 'birthDate'
#        ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
#        ,'active', 'useName', 'useLastName', 'middleName'
#        ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
#        ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
#        ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
#        ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
#        ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
#        ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
#        ,'nameTitle', 'nameSuffix'], axis = 1)

#dfTeamRoster

# df = pd.merge(df, df['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
# df = pd.merge(df, df['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
# df = pd.merge(df, df['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
# df = pd.merge(df, df['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
# df = pd.merge(df, df['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
# df = df.drop(['jerseyNumber', 'status', 'parentTeamId','fullName', 'link', 'birthDate'
#        ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
#        ,'active', 'useName', 'useLastName', 'middleName'
#        ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
#        ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
#        ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
#        ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
#        ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
#        ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
#        ,'nameTitle', 'nameSuffix'], axis = 1)


#df = df.drop(['copyright', 'link' , 'rosterType'], axis=1)
####################################################################

# teamRoster = []

# for x in teams:
#     teamId = x 
#     #print(teamId)
#     df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
#     #break

#     teamRoster.append(df)





# teamRoster = []

# for x in teams:
#     teamId = x 
#     df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
    
#     teamRoster.append(df)

#     df = pd.DataFrame(df)
#     #teamRoster.append(df)
#     #df = df.drop(['copyright', 'link' , 'rosterType'], axis=1)
#     #teamRoster.append(df)
#     #break

TypeError: unhashable type: 'dict'

end

In [253]:
#print(dfTeamRo
#dfTeamRoster = pd.DataFrame(dfTeamRoster) 

#colnames = list(dfTeamRoster.columns)
#print(colnames)
#dfTeamRoster
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')

In [22]:
teams = statsapi.get('teams', {'sportId':1})

dfTeams = pd.DataFrame(teams)
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)
dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode' , 'abbreviation', 'teamName', 'fileCode'], axis = 1)

dfTeams = dfTeams.rename(columns={'id': 'Team ID', 'name': 'Team Name', 'season':'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]

dfTeamIDS = dfTeams['Team ID']
teams = dfTeamIDS.to_list()

In [23]:
teams

[133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 158,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121]

# below here works

making a list of the teamIDs

In [253]:
dfTeams

    Season              Team Name  Team ID
0     2025              Athletics      133
1     2025     Pittsburgh Pirates      134
2     2025       San Diego Padres      135
3     2025       Seattle Mariners      136
4     2025   San Francisco Giants      137
5     2025    St. Louis Cardinals      138
6     2025         Tampa Bay Rays      139
7     2025          Texas Rangers      140
8     2025      Toronto Blue Jays      141
9     2025        Minnesota Twins      142
10    2025  Philadelphia Phillies      143
11    2025         Atlanta Braves      144
12    2025      Chicago White Sox      145
13    2025          Miami Marlins      146
14    2025       New York Yankees      147
15    2025      Milwaukee Brewers      158
16    2025     Los Angeles Angels      108
17    2025   Arizona Diamondbacks      109
18    2025      Baltimore Orioles      110
19    2025         Boston Red Sox      111
20    2025           Chicago Cubs      112
21    2025        Cincinnati Reds      113
22    2025    Cleveland Guardians      114
23    2025       Colorado Rockies      115
24    2025         Detroit Tigers      116
25    2025         Houston Astros      117
26    2025     Kansas City Royals      118
27    2025    Los Angeles Dodgers      119
28    2025   Washington Nationals      120
29    2025          New York Mets      121

In [254]:
teams = statsapi.get('teams', {'sportId':1})

dfTeams = pd.DataFrame(teams)
dfTeams = pd.merge(dfTeams, dfTeams['teams'].apply(pd.Series), left_index = True, right_index = True)
dfTeams = dfTeams.drop(['copyright', 'teams', 'springLeague', 'allStarStatus', 'link', 'venue',
                        'springVenue', 'locationName', 'firstYearOfPlay', 'league', 'division',
                        'sport', 'shortName', 'franchiseName', 'clubName', 'active', 'teamCode' , 'abbreviation', 'teamName', 'fileCode'], axis = 1)

dfTeams = dfTeams.rename(columns={'id': 'Team ID', 'name': 'Team Name', 'season':'Season'})
dfTeams = dfTeams[['Season', 'Team Name', 'Team ID']]

dfTeamIDS = dfTeams['Team ID']
teams = dfTeamIDS.to_list()

Using the teamIDs to loop through all the teams and pull the teamRoster, then append to dataframe df

In [256]:
teamRoster = []

# for x in teams:
#     teamId = x 
#     #print(teamId)
#     df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
#     #break

#     teamRoster.append(df)

############################################

x = 133

teamId = x
df = statsapi.get("team_roster", {"teamId": teamId, "rosterType": "fullRoster", "hydrate": "person"})
teamRoster.append(df)

changing teamRoster to a dfTeamRoster

In [264]:
dfTeamRoster = pd.DataFrame(teamRoster)

#####

# below here the df is just one team. this works to get the roster for one team and cleaning the data
    
#####    

dfTeamRoster = pd.DataFrame(df)

In [265]:
dfTeamRoster

,copyright,roster,link,teamId,rosterType
0,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 683548, 'fullName': 'Adriel ...",/api/v1/teams/133/roster,133,fullRoster
1,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 703835, 'fullName': 'Alejand...",/api/v1/teams/133/roster,133,fullRoster
2,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 821163, 'fullName': 'Alejand...",/api/v1/teams/133/roster,133,fullRoster
3,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 664670, 'fullName': 'Alejo L...",/api/v1/teams/133/roster,133,fullRoster
4,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 812460, 'fullName': 'Alvin N...",/api/v1/teams/133/roster,133,fullRoster
...,...,...,...,...,...
204,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 691315, 'fullName': 'Yehizon...",/api/v1/teams/133/roster,133,fullRoster
205,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 820983, 'fullName': 'Yohandr...",/api/v1/teams/133/roster,133,fullRoster
206,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 830007, 'fullName': 'Yordan ...",/api/v1/teams/133/roster,133,fullRoster
207,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 814305, 'fullName': 'Yunior ...",/api/v1/teams/133/roster,133,fullRoster
208,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 680869, 'fullName': 'Zack Ge...",/api/v1/teams/133/roster,133,fullRoster

In [ ]:
dfTeamRoster = dfTeamRoster.drop(['copyright', 'link' , 'rosterType'], axis=1)

#####

df = df.drop(['copyright', 'link' , 'rosterType'], axis=1)

In [266]:
dfTeamRoster

,copyright,roster,link,teamId,rosterType
0,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 683548, 'fullName': 'Adriel ...",/api/v1/teams/133/roster,133,fullRoster
1,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 703835, 'fullName': 'Alejand...",/api/v1/teams/133/roster,133,fullRoster
2,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 821163, 'fullName': 'Alejand...",/api/v1/teams/133/roster,133,fullRoster
3,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 664670, 'fullName': 'Alejo L...",/api/v1/teams/133/roster,133,fullRoster
4,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 812460, 'fullName': 'Alvin N...",/api/v1/teams/133/roster,133,fullRoster
...,...,...,...,...,...
204,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 691315, 'fullName': 'Yehizon...",/api/v1/teams/133/roster,133,fullRoster
205,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 820983, 'fullName': 'Yohandr...",/api/v1/teams/133/roster,133,fullRoster
206,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 830007, 'fullName': 'Yordan ...",/api/v1/teams/133/roster,133,fullRoster
207,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 814305, 'fullName': 'Yunior ...",/api/v1/teams/133/roster,133,fullRoster
208,"Copyright 2025 MLB Advanced Media, L.P. Use o...","{'person': {'id': 680869, 'fullName': 'Zack Ge...",/api/v1/teams/133/roster,133,fullRoster

In [ ]:
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['roster'].apply(pd.Series), left_index = True, right_index = True)#.drop(columns = 'roster')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
#dfTeamRoster = pd.merge(dfTeamRoster, dfTeamRoster['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
#dfTeamRoster = dfTeamRoster.drop(['jerseyNumber', 'status', 'parentTeamId','fullName', 'link', 'birthDate'
       # ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
       # ,'active', 'useName', 'useLastName', 'middleName'
       # ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
       # ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
       # ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
       # ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
       # ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
       # ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
       # ,'nameTitle', 'nameSuffix'], axis = 1)

###########

df = pd.merge(df, df['roster'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'roster')
# df = pd.merge(df, df['person'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'person')
# df = pd.merge(df, df['position'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'position')
# df = pd.merge(df, df['pitchHand'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'pitchHand')
# df = pd.merge(df, df['primaryPosition'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'primaryPosition')
# df = df.drop(['jerseyNumber', 'parentTeamId', 'status', 'fullName', 'link', 'birthDate'
#         ,'birthCity', 'birthStateProvince', 'birthCountry', 'height', 'weight'
#         ,'active', 'useName', 'useLastName', 'middleName'
#         ,'boxscoreName', 'gender', 'isPlayer', 'isVerified', 'batSide', 'nameFirstLast'
#         ,'nameSlug', 'firstLastName','lastFirstName', 'lastInitName'
#         ,'initLastName', 'fullFMLName', 'fullLFMName', 'strikeZoneTop'
#         ,'strikeZoneBottom', 'primaryNumber', 'mlbDebutDate', 'pronunciation', 'nameMatrilineal'
#         ,'code_x', 'name_x', 'type_x', 'abbreviation_x', 'code_y', 'description'
#         ,'code', 'name_y', 'type_y', 'abbreviation_y', 'draftYear', 'nickName'
#         ,'nameTitle', 'nameSuffix'], axis = 1)

# dfMets = df

In [60]:
dfTeamRoster

,teamId,0,1,2,3,4,5,6,7,8,...,265,266,267,268,269,270,271,272,273,274
0,121,"{'person': {'id': 805999, 'fullName': 'A.J. Ew...","{'person': {'id': 621345, 'fullName': 'A.J. Mi...","{'person': {'id': 830464, 'fullName': 'Abner M...","{'person': {'id': 640470, 'fullName': 'Adbert ...","{'person': {'id': 827441, 'fullName': 'Adolfo ...","{'person': {'id': 829792, 'fullName': 'Adrian ...","{'person': {'id': 829845, 'fullName': 'Aiberso...","{'person': {'id': 808105, 'fullName': 'Alex Ac...","{'person': {'id': 831861, 'fullName': 'Alexand...",...,"{'person': {'id': 699293, 'fullName': 'Yohairo...","{'person': {'id': 800257, 'fullName': 'Yonatan...","{'person': {'id': 660634, 'fullName': 'Yonny H...","{'person': {'id': 814257, 'fullName': 'Yoralbe...","{'person': {'id': 829774, 'fullName': 'Yorber ...","{'person': {'id': 815898, 'fullName': 'Yovanny...","{'person': {'id': 807848, 'fullName': 'Yuhi Sa...","{'person': {'id': 825159, 'fullName': 'Yunior ...","{'person': {'id': 804267, 'fullName': 'Zach Th...","{'person': {'id': 676199, 'fullName': 'Zebulon..."

everything above here works

In [164]:
dfAthletics
#dfPirates
#dfPadres
#dfMariners
#dfGiants
#dfCardinals
#dfRays
#dfRangers
#dfBlueJays
#dfTwins
#dfPhillies
#dfBraves
#dfWhiteSox
#dfMarlins
#dfYankees
#dfBrewers
#dfAngels
#dfDiamondbacks
#dfOrioles
#dfRedSox
#dfCubs
#dfReds
#dfGuardians
#dfRockies 
#dfTigers
#dfAstros
#dfRoyals
#dfDodgers
#dfNationals
#dfMets

,roster,teamId,id,firstName,lastName,currentAge
0,"{'person': {'id': 805999, 'fullName': 'A.J. Ew...",121,805999,Andrew,Ewing,20
1,"{'person': {'id': 621345, 'fullName': 'A.J. Mi...",121,621345,Alex,Minter,31
2,"{'person': {'id': 830464, 'fullName': 'Abner M...",121,830464,Abner,Meza,17
3,"{'person': {'id': 640470, 'fullName': 'Adbert ...",121,640470,Adbert,Alzolay,30
4,"{'person': {'id': 827441, 'fullName': 'Adolfo ...",121,827441,Adolfo,Miranda,18
...,...,...,...,...,...,...
263,"{'person': {'id': 815898, 'fullName': 'Yovanny...",121,815898,Yovanny,Rodriguez,18
264,"{'person': {'id': 807848, 'fullName': 'Yuhi Sa...",121,807848,Yuhi,Sako,25
265,"{'person': {'id': 825159, 'fullName': 'Yunior ...",121,825159,Yunior,Amparo,18
266,"{'person': {'id': 804267, 'fullName': 'Zach Th...",121,804267,Zachary,Thornton,23
267,"{'person': {'id': 676199, 'fullName': 'Zebulon...",121,676199,Zebulon,Vermillion,26

In [ ]:
#dfAthletics = dfAthletics.drop(['note'], axis = 1)
#dfPirates = dfPirates.drop(['note'], axis = 1)
#dfMariners = dfMariners.drop(['note'], axis = 1)
#dfRangers = dfRangers.drop(['note'], axis = 1)
#dfWhiteSox = dfWhiteSox.drop(['note'], axis = 1)
#dfMarlins = dfMarlins.drop(['note'], axis = 1)
#dfBrewers = dfBrewers.drop(['note'], axis = 1)
#dfAngels = dfAngels.drop(['note'], axis = 1)
#dfReds = dfReds.drop(['note'], axis = 1)
#dfDodgers = dfDodgers.drop(['lastPlayedDate'], axis = 1)
#dfMets = dfMets.drop(['note'], axis = 1)

In [511]:
frames = [dfAthletics, dfPirates, dfPadres, dfMariners, dfGiants, dfCardinals
          , dfRays, dfRangers, dfBlueJays, dfTwins, dfPhillies, dfBraves, dfWhiteSox
          , dfMarlins, dfYankees, dfBrewers, dfAngels, dfDiamondbacks, dfOrioles
          , dfRedSox, dfCubs, dfReds, dfGuardians, dfRockies, dfTigers, dfAstros
          , dfRoyals, dfDodgers, dfNationals, dfMets]

dfAllTeamRosters = pd.concat(frames)

In [ ]:
dfAllTeamRosters

     teamId      id  firstName    lastName  currentAge
0       133  683548     Adriel    Gonzalez          22
1       133  703835  Alejandro     Manzano          23
2       133  821163  Alejandro     Pereira          17
3       133  812460      Alvin        Nova          19
4       133  807998      Alvin       Veras          19
..      ...     ...        ...         ...         ...
211     121  815898    Yovanny   Rodriguez          18
212     121  807848       Yuhi        Sako          25
213     121  825159     Yunior      Amparo          18
214     121  804267    Zachary    Thornton          23
215     121  676199    Zebulon  Vermillion          26

[5876 rows x 5 columns]

All 2024 Players

In [134]:
names = []

for player in statsapi.lookup_player('2024'):
    names.append(player)
    #print(names)
dfNames = pd.DataFrame(names)

dfNames = dfNames.drop(['primaryNumber', 'currentTeam' , 'useName', 'boxscoreName',
                       'nickName', 'mlbDebutDate', 'nameSlug', 'firstLastName', 'lastFirstName', 'lastInitName',
                       'initLastName', 'fullFMLName', 'fullLFMName', 'nameFirstLast'], axis=1)


index_position = dfNames[dfNames['primaryPosition'] == {'code': '1', 'abbreviation': 'P'}].index
dfNames.drop(index_position, inplace = True) 

dfNames = dfNames.rename(columns = {'id':'Player ID', 'fullName':'Full Name', 'firstName':'First Name', 'lastName':'Last Name'}).drop(columns = 'primaryPosition')
dfNames = dfNames[['Player ID', 'First Name', 'Last Name', 'Full Name']]

All players by Selected Statistic (Batting Average)

In [127]:
dfNames
#index_position

     Player ID First Name  Last Name          Full Name
0       682668  Luisangel      AcuÃ±a    Luisangel AcuÃ±a
1       682634      Kevin  Alcantara    Kevin AlcÃ¡ntara
3       677942      Blaze  Alexander    Blaze Alexander
4       680769    Charles  Alexander       CJ Alexander
5       805373    Ignacio    Alvarez  Nacho Alvarez Jr.
..         ...        ...        ...                ...
191     695238    William     Wagner        Will Wagner
195     694376       Shay   Whitcomb      Shay Whitcomb
197     805779      Jacob     Wilson       Jacob Wilson
199     695578      James       Wood         James Wood
202     694377   Nicholas      Yorke         Nick Yorke

[90 rows x 4 columns]

In [141]:
year = '2024'

stats = []
for row in dfNames['Player ID']:
      response = statsapi.player_stat_data(row, group = 'hitting', type = 'yearByYear', sportId = 1)
      stats.append(response)

dfStats = pd.DataFrame(stats)
dfStats = pd.merge(dfStats, dfStats['stats'].apply(pd.Series), left_index = True, right_index = True).drop(columns = 'stats')

dfStats.rename({0:'stats'},axis='columns',inplace=True)
dfStats = dfStats.join(pd.json_normalize(dfStats['stats']))

# dfStats = dfStats.drop(['active', 'last_played', 'season', 'mlb_debut', 'nickname', 'pitch_hand', 'stats', 'type', 'group'
#                         , 'stats.gamesPlayed', 'stats.groundOuts', 'stats.airOuts', 'stats.runs', 'stats.doubles' 
#                         , 'stats.triples',	'stats.homeRuns', 'stats.strikeOuts', 'stats.baseOnBalls', 'stats.intentionalWalks'
#                         , 'stats.hits', 'stats.hitByPitch', 'stats.atBats', 'stats.obp', 'stats.slg', 'stats.ops', 'stats.caughtStealing'
#                         , 'stats.totalBases', 'stats.rbi', 'stats.leftOnBase', 'stats.sacBunts', 'stats.sacFlies', 'stats.babip'
#                         , 'stats.groundOutsToAirouts', 'stats.catchersInterference', 'stats.atBatsPerHomeRun', 'stats.stolenBases'
#                         , 'stats.stolenBasePercentage', 'stats.groundIntoDoublePlay', 'stats.numberOfPitches'], axis=1)

# dfStats = dfStats.rename(columns = {'id':'Player ID','first_name':'First Name', 'last_name':'Last Name'
#                                     , 'current_team':'Team', 'position':'Position', 'bat_side':'Batting Side'
#                                     , 'stats.avg':'Batting Average', 'stats.plateAppearances':'Plate Appearances'})

# dfStats = dfStats.rename(columns = {1:'1',2:'2'}).drop(columns = '1')
# dfStats = dfStats.drop(columns = '2')

In [142]:
dfStats

,id,first_name,last_name,active,current_team,position,nickname,last_played,mlb_debut,bat_side,...,stats.plateAppearances,stats.totalBases,stats.rbi,stats.leftOnBase,stats.sacBunts,stats.sacFlies,stats.babip,stats.groundOutsToAirouts,stats.catchersInterference,stats.atBatsPerHomeRun
0,682668,Luisangel,AcuÃ±a,True,New York Mets,SS,Jose,None,2024-09-14,Right,...,40,25,6,10,0,0,.300,0.91,0,13.00
1,682634,Kevin,Alcantara,True,Chicago Cubs,RF,None,None,2024-09-25,Right,...,10,1,0,3,0,0,.111,7.00,0,-.--
2,677942,Blaze,Alexander,True,Arizona Diamondbacks,SS,None,None,2024-03-28,Right,...,185,57,21,80,1,0,.333,1.20,0,55.33
3,680769,CJ,Alexander,True,Athletics,3B,None,None,2024-06-24,Left,...,8,1,0,6,0,0,.200,0.33,0,-.--
4,805373,Nacho,Alvarez,True,Atlanta Braves,SS,None,None,2024-07-22,Right,...,32,3,0,13,0,0,.150,0.89,0,-.--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,695238,Will,Wagner,True,Toronto Blue Jays,2B,None,None,2024-06-26,Left,...,86,37,11,34,0,0,.359,1.73,0,41.00
86,694376,Shay,Whitcomb,True,Houston Astros,SS,None,None,2024-08-17,Right,...,46,12,5,13,0,0,.273,0.60,0,-.--
87,805779,Jacob,Wilson,True,Athletics,SS,None,None,2024-07-19,Right,...,103,29,3,33,1,1,.277,1.54,0,-.--
88,695578,James,Wood,True,Washington Nationals,LF,None,None,2024-07-01,Left,...,336,126,41,122,0,0,.365,1.79,0,32.78
89,694377,Nick,Yorke,True,Pittsburgh Pirates,2B,None,None,2024-09-16,Right,...,42,14,5,16,0,1,.250,1.57,0,18.50

Analysis - Isolating for chosen Statistic (batting average)

In [ ]:
dfAvg = pd.DataFrame(dfStats)
dfAvg = dfAvg.drop(['Team', 'Position', 'Batting Side'], axis = 1)

index_names = dfAvg[ dfAvg['Plate Appearances'] < 100].index 
  
# drop these row indexes 
# from dataFrame 
dfAvg.drop(index_names, inplace = True) 
  
dfAvg 

#qualAvg = pd.DataFrame(dfAvg)
#qual = dfAvg[dfAvg['Plate Appearances'] < 100].index

#qualAvg = dfAvg.drop(qual, inplace = True)

In [ ]:
qual